{% extends 'ReneApp/base.html' %}

{% load static %}

{% block title %} Cursos {% endblock title %}

{% block main %}
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Formulario para agregar Cursos</h2>
                <p class="lead">en esta pagina debes agregar informacion de los cursos en el formulario de mas abajo</p>
                <p class="mb-0">llena los campos de mas abajo, en cursos solo pueden ir caracteres y en camada numeros. una ves hecho esto,
                    al presionar enviar la pagina te va a regresar al inicio automaticamente.
                </p>
                <br>
                <br>
                <form action="" method="POST">
                    {% csrf_token %}
                    <table>
                        {{ curso_formulario.as_table }}
                    </table>
                    <input type="submit" value="Enviar">
            
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock main %}