{% extends 'ReneApp/base.html' %}

{% block title %} Borrar Curso {% endblock title %}

{% block main %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrar Curso</title>
</head>
<body>
    <form method="POST">{% csrf_token %}
        Estas seguro que deseas borrar el curso "{{ object }}" ?
        <br>
        <input type="submit" value="Borrar"/>

    </form>


    
</body>
</html>
{% endblock main %}