{% extends 'ReneApp/base.html' %}

{% load static %}

{% block title %} Estudiantes {% endblock title %}

{% block main %}
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Formulario para agregar Estudiantes</h2>
                <p class="lead">en esta pagina se podra agregar informacion de los estudiantes a la base de datos</p>
                <p class="mb-0">debes llenar todos los campos de abajo con la informacion de los estudiantes y una vez hecho esto,
                    al presionar enviar la pagina te regresara directamente a el inicio.
                </p>
                <br>
                <br>
                <form action="" method="POST">
                    {% csrf_token %}
                    <table>
                        {{ estudiante_formulario.as_table }}
                    </table>
                    <input type="submit" value="Enviar">
            </div>
        </div>
    </div>
</section>
{% endblock main %}