{% extends 'ReneApp/base.html' %}

{% load static %}

{% block title %} Inicio {% endblock title %}

{% block main %}
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Pagina de inicio</h2>
                        <p class="lead">esta es la pagina que se ve apenas entramos a la pagina, o una vez llenado un formulario seras re-dirigido a esta pagina tambien</p>
                        <p class="mb-0">aun no estoy 100% seguro de que hacer para el projecto final pero haciendo este trabajo ya se me han ocurrido unas cuantas ideas
                            espero no afecte lo simplona que este la pagina o que haya una imagen con un gato jaja
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Image element - set the background image for the header in the line below-->
        <div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800')">
            <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
            <div style="height: 20rem"></div>
        </div>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Me gusto como quedo la luna en esta plantilla que baje de bootstrap asi que no la queria quitar jaja</h2>
                        <p class="lead">hubiera tenido algo mas de tiempo le hubiese puesto un poquito mas de amor y estilo a la pagina</p>
                        <p class="mb-0">espero me venga la inspiracion artistica para el projecto final </p>
                    </div>
                </div>
            </div>
        </section>
        {% endblock main %}