{% extends 'ReneApp/base.html' %}

{% load static %}

{% block title %} Profesores {% endblock title %}

{% block main %}
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Formulario para agregar Profesores</h2>
                <p class="lead">En esta pagina se agrega informacion de los profesores a la base de datos</p>
                <p class="mb-0">debes llenar todos los campos de abajo y una vez que presiones enviar,
                    la pagina te regresara automaticamente a el inicio.
                </p>
                <br>
                <br>
                <form action="" method="POST">
                    {% csrf_token %}
                    <table>
                        {{ profesor_formulario.as_table }}
                    </table>
                    <input type="submit" value="Enviar">
            </div>
        </div>
    </div>
</section>

{% endblock main %}